.totalAmountGreen {
  background-color: #4bb543;
  color: aliceblue;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  width: 100%;

}

.totalAmountRed {
  background-color:#f32010;
  color: aliceblue;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  width: 100%;

}
